@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Ninja Style - Context";
 :created "2007-12-26";
 :release [:revision "1.1"; :created "2008-04-10"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "各要素単独のスタイル";
 :note "
 	Outline - 
		1-1.Yahoo UI Library Fonts CSS. 
		1-2.Settings. 
		1-3.Universal selector. 
		1-4.Structure Module. 
		1-5.Text Module. 
		1-6.Hypertext Module. 
		1-7.List Module. 
		1-8.Edit Module. 
		1-9.Forms Module. 
		1-10.Tables Module. 
		1-11.Image Module. 
		1-12.Object Module
		";
 :dependencies [
 	:name "Yahoo";
	:title "YUI Fonts CSS";
	:description "ブラウザ間のフォントサイズを揃えるライブラリ";
	:revisiton "2.5.1";
	:homepage <http://developer.yahoo.com/yui/fonts/>;
	:license <http://developer.yahoo.com/yui/license.txt>;
	:note "
		Font-size Adjustment.
			77% = 10px	|	123.1% = 16px	|	167% = 22px
			85% = 11px	|	131% =  17px	|	174% = 23px 
			93% = 12px	|	138.5% = 18px	|	182% = 24px 
			100% = 13px	|	146.5% = 19px	|	189% = 25px 
			108% = 14px	|	153.9% = 20px	|	197% = 26px 
			116% = 15px	|	161.6% = 21px	| 
			"
	] .
*/

/* Do not edit*/
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*======================================

	1-2. Font size setting
	
=======================================*/

p,
pre,
cite,
blockquote {
	font-size: 100%;
}

li,dt,dd {
	font-size: 100%;
}

/*======================================

	1-3.Universal selector
	
=======================================*/

* {

}

/*======================================

	1-4.Structure Module
	
=======================================*/

html {
	overflow-y: scroll;
}

body {
	line-height: 1.5;
}

/*======================================

	1-5.Text Module
	
=======================================*/

p,
pre,
blockquote,
address,
cite {
	margin: 0.5em 30px 1em;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.8em 30px 0.5em;
}

h1 {
	margin: 0;
	padding: 0.6em 30px 0;
	font-size: 167%;
	font-weight: normal;
}

h2 {
	padding-bottom: 0.3em;
	font-size: 122%;
	font-weight: normal;
}

h3 {
	padding: 0.1em 10px;
	font-size: 112%;
	font-weight: normal;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 100%;
}

h6 {
	font-size: 100%;
}

p {
	line-height: 1.8;
}

br {
	letter-spacing: 0;
}

pre {
	padding: 0.5em 0 0.5em 20px;
	border: 1px dashed #2f6fab;
	width: 95%;
	max-width: 85%;
	/*overflow: scroll;*/
	/*font-family: monospace;*/
}

pre * {

}
pre[title]:before {
	margin: -0.5em -20px 1em;
	padding: 0.2em 20px;
	display: block; 
	content: attr(title);
	font-size: 85%;
}

blockquote {
	margin-left: 40px;
	padding: 0.6em 20px;
}

blockquote * {
	margin: 0!important;
	border: none!important;
}

blockquote[title]:before {
	margin-bottom: 0.6em;
	display: block;
	content: "Quote: "attr(title); 
}

blockquote[cite]:after {
	padding: 0.8em 20px;
	display: block; 
	content: "Quote: "attr(cite);
	text-align: right;
}

cite {
	display: block;
	text-align: right;
}

em {
	font-weight: bold;
	font-style: normal;
}

strong {

}

code {
	font-family: monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #aaa;
	cursor: help;
}

kbd {
	border: 1px solid #ccc;
	padding: 0 0.3em; 
	background-color: #f5f5f5;
	font-family: monospace;
}

/*======================================

	1-6.Hypertext Module
	
=======================================*/

/*
moved
subSkin module
*/

/*--------------------------------------
	utilities (Link Color)
---------------------------------------*/

/*
moved
subSkin module
*/

/*======================================

	1-7.List Module
	
=======================================*/

ul,
ol,
dl {
	margin: 1em 30px;
}

ul,
ol,
dl {
	padding: 1px 0;
	list-style-position: inside;
}

ul {
	list-style-type: circle;
}

li,
dt,
dd {
	margin: 0.4em 10px;
}

dt {
	margin-top: 0.6em;
}

dd {
	margin-left: 20px;
	margin-bottom: 0.6em;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
	font-size: 100%;
}

li ul,
li ol,
li dl,
li p,
dd ul,
dd ol,
dd dl,
dd p {
	margin: 0.5em 10px;
}

/*======================================

	1-8.Edit Module
	
=======================================*/

del {
	color: #bbb;
	text-decoration: line-through;
}

del[datetime]:before {
	content: " ( "attr(datetime)"\00524a\009664) ";
}

ins {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

ins[datetime]:before {
	content: " ( "attr(datetime)"\004fee\006b63) ";
}

/*======================================

	1-9.Forms Module
	
=======================================*/

form {
	margin: 1em 30px; 
	padding: 1px 0; 
}

form dl,
form p {
	margin: 0.5em 20px;
}

fieldset {
	padding: 0;
}

legend {
	margin: 0 1em;
	padding: 0 10px;
	background-color: #fff;
}

input,
textarea {
	border-width: 1px;
	border-style: solid;
	margin: 0.5em 10px;
	padding: 1px 0.2em;
	font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3",  sans-serif;
}

input:hover,
textarea:hover {

}

input:focus,
textarea:focus {

}

textarea {
	font-size: 100%;
	padding: 0.4em 8px;
}

input.inputField {

}

input.submit {
	_padding: 0;
	border: none;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
}

input.submit:hover {

}

input.radio {
	background-color: transparent;
	background-image: none;
	border: none;
}

/*======================================

	1-10.Tables Module
	
=======================================*/

table {
	margin: 0 30px 0.5em 30px;
	border-collapse: separate;
}

th,
td {
	padding: 0.1em 5px;
}

th {

}

td {

}

/*======================================

	1-11.Image Module
	
=======================================*/

img {
	vertical-align: bottom;
}

/*======================================

	1-12.Object Module
	
=======================================*/

object,
embed {

}
